html, body {
  min-height: 100vh;
}

html * {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

body {
  background: whitesmoke;
}
